{
  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": true
    },
  },
  "minify": true,
  "module": {
    "type": "esnext"
  }
}